<!DOCTYPE html>
<html>
  <head>
    <title>静静点餐</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/lib/bootstrap/bootstrap.min.css" />
    <script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="/lib/bootstrap/bootstrap.min.js"></script>
    <script src="/src/js/components/dialog_fade.js"></script>
  </head>
  <body>
    <%- include ./header.html %>
    <%- body %>
    <%- include ./footer.html %>
  </body>
</html>
